<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Links</title>
</head>
<body>
<div th:switch="${shorts}">
    <h2 th:case="null">No users found</h2>
    <div th:case="*">
        <h2>Links</h2>
        <h4>Admin Panel</h4>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Original URL</th>
                <th>Short URL</th>
                <th>Number of clicks</th>
                <th>Time of creation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="shorter : ${shorts}">
                <td th:text="${shorter.id}"></td>
                <td th:text="${shorter.originalUrl}"></td>
                <td><a th:href="@{'/short-link/' + ${shorter.getHash()}}"><p th:text="${shorter.getHash()}"></p></a></td>
                <td th:text="${shorter.count}"></td>
                <td th:text="${shorter.createdAt}"></td>
                <td><a th:href="@{link-delete/{id}(id=${shorter.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/short-link/shorter-create">Create link</a></p>
</div>
</body>
</html>